<p id="notice"><%= notice %></p>

<h2>
  <strong>Username:</strong>
  <%= @user.username %>
</h2>

<p>
  <strong>Account id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Account created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Account last modified at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Account activated?:</strong>
  <%= @user.activated %>
</p>

<p>
  <strong>Account activated at:</strong>
  <%= @user.activated_at %>
</p>

<p>
  <strong>Wishlist:</strong>
  <% if @user.wishlist.present? %>
    <%= link_to 'Wishlist', user_wishlist_path(@user.wishlist.id), id: :wishlist_link %>       
  <% else %>
    This user has no Wishlist yet
  <% end %>
</p>
