<head>
    <title>Rotten Pxls - Editing <%= @jogo.nome %></title>
</head>

<h1>Editing <%= @jogo.nome %></h1>

<div class="text-center">
<%= render 'form', jogo: @jogo %>

<%= link_to '<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>'.html_safe, @jogo %> |
<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, jogos_path %>
</div>