<head>
    <title>Rotten Pxls - Jogos</title>
</head>
<p id="notice"><%= notice %></p>

<h1>Jogos</h1>

<div class="input-group search">
<%= form_tag(jogos_path, method: :get) do %>
  <div class="input-group">
  <%= text_field_tag :term, params[:term], :id => "search_box", :class => "form-control input-sm" %>
  <span class="input-group-btn">
  <%= submit_tag "Search", nome: nil, :id => "search_button", :class => "btn btn-default btn-sm" %>
  </span>
    </div>
<% end %>
</div>

</br>

<table class="table table-hover table-nonfluid">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Publisher</th>
      <th>Desenvolvedora</th>
      <th>Rating</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <div><td><%= jogo.nome %></td></div>
        <td><%= jogo.publisher %></td>
        <td><%= jogo.desenvolvedora %></td>
        <td><%= jogo.rating %></td>
        <td class="text-center"><%= link_to '<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>'.html_safe, jogo %></td>
        <td class="text-center"><%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_jogo_path(jogo) %></td>
        <td class="text-center"><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, jogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', static_pages_home_path %>
<%= link_to 'New Jogo', new_jogo_path %>
