<p id="notice"><%= notice %></p>

<h2> <%= @jogo.nome %> </h2>

<p>
  <strong>Publisher:</strong>
  <%= @jogo.publisher %>
</p>

<p>
  <strong>Desenvolvedora:</strong>
  <%= @jogo.desenvolvedora %>
</p>

<p>
  <strong>Rating:</strong>
    <% nota = @jogo.usuarioAvaliaJogos.average(:avaliacao) %>
    <% if not nota.present?%>
      <%= "This game has no rating yet" %>
    <% else%>
      <%= nota %>
    <% end %>
</p>

<% if false %>
<p>
  <strong> Avaliar:</strong>
  <select>
    <option value="-"> - </option>
    <option value="10">(10) Masterpiece</option>
    <option value="9">(9) Great</option>
    <option value="8">(8) Very Good</option>
    <option value="7">(7) Good</option>
    <option value="6">(6) Fine</option>
    <option value="5">(5) Average</option>
    <option value="4">(4) Bad</option>
    <option value="3">(3) Very Bad</option>
    <option value="2">(2) Horrible</option>
    <option value="1">(1) Pure Trash</option>
  </select>
</p>
<% end %>

<%= link_to 'Edit', edit_jogo_path(@jogo) %> |

<%= link_to 'Back', jogos_path %>

<h3> Avalie este jogo! </h3>
<%= form_for ([@jogo, @jogo.usuarioAvaliaJogos.build]) do |f| %>
  <%= f.label :nota %><br>
  <%= f.select [ "1 - PureTrash", "2 - Horrible", "3 - Very Bad", "4 - Bad", "5 - Average",
                             "6 - FIne", "7 - Good", "8 - Very Good", "9 - Great", "10 - Masterpiece" ], :prompt => 'Select One' %>
  <%= f.submit "Submeter avaliação" %>
<% end %>


  <h3>Avaliações</h3>
  <% if @jogo.present? %>
      <% @jogo.usuarioAvaliaJogos.each do |usuario_avalia_jogo| %>
          <p>
            <b>Nota:</b>
            <%= usuario_avalia_jogo.avaliacao %>
          </p>
      <% end %>
  <% end %>


<h3>Reviews</h3>
<% if @jogo.present? %>
	<% @jogo.reviews.each do |reviews| %>
	  <p>
            Created by <%= reviews.created_at.strftime("%b %Y")%> by
	    <% if reviews.user_id != nil %>
                <b><%= link_to reviews.user.username, user_path(reviews.user.id) %>:</b>
              <% else %>
                <b>Anonymous:</b>
              <% end %>
              <p>
	        <%= reviews.texto %>
              </p>
	  </p>
	<% end %>
<% end %>


<h3>Add Review</h3>
<%= form_for ([@jogo, @jogo.reviews.build]) do |f| %>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto, id: :review_text_area %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Review'%>
  </div>
<% end %>