<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @jogo.nome %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @jogo.publisher %>
</p>

<p>
  <strong>Desenvolvedora:</strong>
  <%= @jogo.desenvolvedora %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @jogo.rating %>
</p>


<%= link_to 'Edit', edit_jogo_path(@jogo) %> |
<%= link_to 'Submit Review', new_review_path(@review) %> |
<%= link_to 'See Reviews', review_path(:param1 => @jogo.nome) %> |
<%= link_to 'Back', jogos_path %>
