<%= form_with(model: usuario_avalia_jogo, local: true) do |form| %>
  <% if usuario_avalia_jogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario_avalia_jogo.errors.count, "error") %> prohibited this usuario_avalia_jogo from being saved:</h2>

      <ul>
      <% usuario_avalia_jogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_user %>
    <%= form.number_field :id_user, id: :usuario_avalia_jogo_id_user %>
  </div>

  <div class="field">
    <%= form.label :id_jogo %>
    <%= form.number_field :id_jogo, id: :usuario_avalia_jogo_id_jogo %>
  </div>

  <div class="field">
    <%= form.label :avaliacao %>
    <%= form.number_field :avaliacao, id: :usuario_avalia_jogo_avaliacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
