<p id="notice"><%= notice %></p>

<h1>Usuario Avalia Jogos</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Id jogo</th>
      <th>Avaliacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_avalia_jogos.each do |usuario_avalia_jogo| %>
      <tr>
        <td><%= usuario_avalia_jogo.id_user %></td>
        <td><%= usuario_avalia_jogo.id_jogo %></td>
        <td><%= usuario_avalia_jogo.avaliacao %></td>
        <td><%= link_to 'Show', usuario_avalia_jogo %></td>
        <td><%= link_to 'Edit', edit_usuario_avalia_jogo_path(usuario_avalia_jogo) %></td>
        <td><%= link_to 'Destroy', usuario_avalia_jogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Avalia Jogo', new_usuario_avalia_jogo_path %>
