<p id="notice"><%= notice %></p>

<h1>Itens</h1>

<% if @items.empty? %>
<p>
  No items registered.
</p>
<% else %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descriçãoo</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.nome %></td>
        <td><%= item.descricao %></td>
        <td><%= item.preco %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Home', static_pages_home_path %>
<%= link_to 'New Item', new_item_path %>
