<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Nome do jogo" %>
    <%= form.text_field :nome_do_jogo, id: :review_nome_do_jogo%>
  </div>

  <div class="field">
    <%= form.label :"Escreva aqui sua review!" %>
    <%= form.text_area :texto, id: :review_texto%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
